doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title Title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
    style.
      body { opacity: 0; overflow-x: hidden; } html { background-color: #fff; }
  body
    link(rel='stylesheet', href='css/main.min.css')
    script(src='js/scripts.min.js')

    header.site-header
      .header-top-line
        .container
          .left-links.col
            ul
              li
                a(href="#") Blog
              li
                a(href="#") Jobs
              li
                a(href="#") Support
              li
                a(href="#") Arabic
          .right-links.col
            ul
              li
                a(href="#")
              li
                a(href="#")
              li
                a(href="#")
              li
                a(href="#")

      .header-middle-line.container
        .logo-wrapper.col
          img.logotype(src="img/header/logo.png")
        .nav-links.col    
          ul
            li
              a(href="#")
            li
              .popup
                p.message Saudi Arabia . Alreyadah
              a(href="#")
            li
              a(href="#")

      .header-bottom-line
        nav.site-nav.container
          ul
            li
              a(href="") Home
            li
              a(href="") What about ISAMA
            li
              a(href="") What we do ?
            li
              a(href="") Our Projects
            li
              a(href="") Excellent Team
            li
              a(href="") Contact
          .search-wrapper
            img.search-icon(src="/img/header/search.png" alt="Search field")
            input.search-field(type="text", placeholder="Type your search words")
            .clearfix
              
    section.main
      .title-wrapper
        h1.title LET’S DRAW SOME ARTS
        h4.sub-title make your business much better
        p.amp &amp
      .slider-wrapper
        .slider
          .slider-image-wrapper
            img(src="img/main/slider/design.jpg" alt="slider-image")
            .like-wrapper
              a.like-button(href="#") Like
          .slider-image-wrapper
            img(src="img/main/slider/design-2.jpg" alt="slider-image")
            .like-wrapper
              a.like-button(href="#") Like
        
          .slider-arrow
          .clearfix

    section.about-section
      .container.about-wrapper
        .info-block.col
          .text-wrapper
            h3.section-title What about ISAMA
            p.section-article
            | ISAMA is a marketing foundation located in Riyadh built on the talent of creation that leads to a modern concept of professionalism. At ISAMA we believe even if you are good at what you do, you have a great product or you provide an excellent service. We still can present you a little better to the world, creating your full identity, provides you with your marketing plans, design your website, print your publications, design your logo’s and offices. Simply we give your business the perfect image.
        .info-block.col
          .text-wrapper
            h3.section-title Why we exist
            p.section-article 
            | Reaching customer satisfaction through providing them with cutting-edge technologies that give clients access to a wide range of tools, ensuring efficient and results-oriented communication solutions, which grant them a special character that distinguishes them from the others in the business.
          
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
