doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title Title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
    style.
      body { opacity: 0; overflow-x: hidden; } html { background-color: #fff; }
  body
    link(rel='stylesheet', href='css/main.min.css')
    script(src='js/scripts.min.js')
    header.site-header
      .header-top-line
        .container
          .left-links.col
            ul
              li
                a(href="#") Blog
              li
                a(href="#") Jobs
              li
                a(href="#") Support
              li
                a(href="#") Arabic
          .right-links.col
            ul
              li
                a(href="#")
              li
                a(href="#")
              li
                a(href="#")
              li
                a(href="#")
      .header-middle-line.container
        .logo-wrapper.col
          img.logotype(src="img/header/logo.png")
        .nav-links.col    
          ul
            li
              a(href="#")
            li
              .popup
                p.message Saudi Arabia . Alreyadah
              a(href="#")
            li
              a(href="#")
      .header-bottom-line
        nav.site-nav.container
          ul
            li
              a(href="") Home
            li
              a(href="") What about ISAMA
            li
              a(href="") What we do ?
            li
              a(href="") Our Projects
            li
              a(href="") Excellent Team
            li
              a(href="") Contact
          .search-wrapper
            img.search-icon(src="/img/header/search.png" alt="Search field")
            input.search-field(type="text", placeholder="Type your search words")
            .clearfix
    section.main
      .title-wrapper
        h1.title LET’S DRAW SOME ARTS
        h4.sub-title make your business much better
        p.amp &amp
