@font-face
	font-family: 'Kaushan'
	src: url('../fonts/Kaushan-Script/Kaushan-Script.woff2') format('woff2')
  src: url('../fonts/Kaushan-Script/Kaushan-Script.woff') format('woff')
  font-weight: 400

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat-Regular/Montserrat-Regular.woff2') format('woff2')
  src: url('../fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff')
  font-weight: 400

@font-face
  font-family: 'Montserrat'
  src: url('../fonts/Montserrat-Bold/Montserrat-Bold.woff2') format('woff2')
  src: url('../fonts/Montserrat-Bold/Montserrat-Bold.woff') format('woff')
  font-weight: 700

@font-face
  font-family: 'Roboto'
  src: url('../fonts/Roboto/Roboto.woff2') format('woff2')
  src: url('../fonts/Roboto/Roboto.woff') format('woff')
  font-weight: 400

@font-face
  font-family: 'Roboto'
  src: url('../fonts/Roboto-Light-Italic/Roboto-Light-Italic.woff2') format('woff2')
  src: url('../fonts/Roboto-Light-Italic/Roboto-Light-Italic.woff2') format('woff')
  font-weight: 300
  font-style: italic